// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core(); // This typically includes basic typography styles

// Define a custom typography config.
$custom-typography: mat.define-typography-config();

// Define the custom color palettes.
$my-primary: mat.define-palette(mat.$blue-palette);
$my-accent: mat.define-palette(mat.$pink-palette, 500, 900, A100);

// Create the theme object.
$my-app-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: $custom-typography,
));

// Include the custom theme styles for Angular Material components.
@include mat.all-component-themes($my-app-theme);

// You can add global styles to this file, and also import other style files
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

/* Custom styles for LGBT inclusiveness */
.mat-toolbar {
  background: linear-gradient(to right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3) !important;
  color: white; /* Ensure text is visible on the gradient */
}
