@use '@angular/material' as mat;

// Include the common styles for Angular Material.
@include mat.core();

// You can add global styles to this file, and also import other style files
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

/* Custom styles for LGBT inclusiveness */
.mat-toolbar {
  background: linear-gradient(to right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3) !important;
  color: white; /* Ensure text is visible on the gradient */
}
